{
  "presets": [
    ["env",  {
      "targets": {
        "uglify" : true
      }
    }]
  ],
  "plugins": ["syntax-dynamic-import", "transform-object-rest-spread", ["import", {
    "libraryName": "iview",
    "libraryDirectory": "src/components"
  }]]
}
