{
  "presets": [
    ["stage-2"],
    ["env",  {
      "targets": {
        "uglify" : true
      }
    }]
  ],
  "plugins": ["syntax-dynamic-import", ["component", 
    {
      "libraryName": "element-ui",
      "styleLibraryName": "theme-chalk"
    }, "element-ui"]
  ]
}
